body {
  background-color: slateblue;
  text-align: center;
  color: white;
  font-size: 25px;
}
.checkmark {
  width: 25px;
  height: 25px;
}
h1 {
  text-align: center;
  color: white;
}
#rythm1 {
  border-radius: 65px 0 65px 0;
  width: 200px;
  height: 200px;
}
#my-progress {
  color: white;
  text-align: center;
  margin: 200px 0 75px 0;
}
.checkmark {
  width: 25px;
  height: 25px;
}
#current-steps {
  text-align: left;
  width: max-content;
  margin: auto;
  
}
